/*------------------ GENERAL SETTINGS  ------------------*/

:root {
  --fontone: times;
  /* main title, muse desc, muse title top */
  --fontthree: arial;
  /* flter, side description,  muse title bottom  */

  --fontsize-one: 9.5px;
  /* muse description  */
  --fontsize-two: 11px;
  /* filter  */
  --fontsize-three: 13px;
  /* muse title */
  --fontsize-four: 15px;
  /* main title */

  /* change image dimensions */
  --height: 375px;
  --width: 255px;
  --marbot: 50px;
  /* space beneath each muse */

  /* general color settings */
  --bg: #fffefb;
  --bg: var(--brown-03);
  --text: #fff;
  --text-two: #000;
  --accent-one: #a6841c;
  --accent-two: #a1997d;
  --border: #d1d1d1;

  --rightsize: 83%;
  --leftsize: 17%;

  --gs: grayscale(100%);
  /* change to 0% if you don't want your image to be gray scale ater clicking on a character*/

  --light-sky: var(--mono-02);
  --dark-sky: var(--brown-02);
  --star-color: var(--brown-03);
  --star-dark-color: var(--brown-01);
  --crescent-color: var(--mono-02);

}

/*------------------  HEADER   -----------------*/

header {
  width: 100%;
  height: 100%;
}

#c_header{
  display: flex;
  top: 0;
  width: 100%;
  height:auto;
  background: var(--bg);
  z-index: 999;
}

#c_nav_filters {
  width: var(--rightsize);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 15px 25px 15px;
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
}

#c_nav_home {
  width: var(--leftsize);
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#c_nav_home a {
  font: 4px var(--fontthree);
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.filter {
  margin-right: 25px;
  color: var(--text-two);
  font-family: var(--fontthree);
  letter-spacing: 1px;
  text-align: center;
}

.filter li,
.filter li a {
  display: inline-block;
  margin-right: 3px;
  color: var(--text-two);
  font-size: var(--fontsize-two);
}

.filter li a:hover {
  color: var(--accent-one);
}

#gname {
  display: inline-block;
  font-size: var(--fontsize-one);
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-family: var(--fontthree);
  font-weight: 600;
}


#gname::after {
  content: "✶";
  font-size: 8px;
  position: relative;
  top: -1px;
  margin: 0px 8px;
  color: var(--border);
}


/*--------------------- PAGE TITLE ---------------------*/
#c_cont{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  /*padding: 100px 75px 25px 10px;*/
}

#sidebar {
  padding:100px 30px;
  width: var(--leftsize);
  /*
  position: absolute;
  left: 0px;
  height: 100%;
  min-width: 100px;
  padding-right: 20px;
  */
}

#sidebar h1 {
  position: relative;
  color: var(--text-two);
  font-size: var(--fontsize-four);
  font-family: var(--fontone);
  text-transform: uppercase;
  letter-spacing: 6px;
  word-break: break-word;
}

#sidebar p {
  position: relative;
  text-transform: uppercase;
  font-family: arial;
  font-size: 8px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  line-height: 18px;
  color: var(--text-two);
}


/*---------------- MUSE SECTION  ----------------*/

#container {
  width: var(--rightsize);
  /*right: 0;
  position: absolute;
  padding: 100px 75px 25px 10px;*/
}

.grid {
  margin: 50px auto 0px;
}

.muse {
  background: #0a0a0a;
  height: var(--height);
  width: var(--width);
  margin-bottom: var(--marbot);
  transition: .5s ease;
}

img {
  height: var(--height);
  width: var(--width);
  opacity: 0.9;
  transition: .5s ease;
  object-fit: cover;
}

/*-------------------- MUSE NAME  ---------------------*/

.bottomtext {
  color: var(--text);
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  transition: .5s ease;
  width: 100%;
  height: 65px;
}

.mtitle {
  margin: auto;
  text-align: center;
  width: 75%;
}

.mtitle h1 {
  font-family: var(--fontthree);
  font-size: var(--fontsize-three);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 135%;
  margin-top: 3px;
}

.mtitle h2 {
  font-family: var(--fontone);
  text-transform: lowercase;
  font-style: italic;
  font-size: 7px;
  font-weight: 400;
  letter-spacing: 1px;
}

/*--------------- MUSE DESCRIPTION ---------------*/

.overlay {
  background-color: rgb(43 43 43 / 66%);
  /* image effect, must be rbg, the % is how
          transparent the overlay will be */
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  mix-blend-mode: difference;
  /* delete this if you don't wont the image
          effect after clicking on an image */
}

.text {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 70%;
  overflow: scroll;
  max-height: 50%;
  transition: .5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.text p,
.bio a {
  font-family: var(--fontone);
  font-size: var(--fontsize-one);
  color: var(--text);
  letter-spacing: 1.2px;
  text-transform: lowercase;
  line-height: 17px;
  transition: .5s ease;
}

.bio {
  width: var(--width);
  position: absolute;
  bottom: 20px;
  text-align: center;
  opacity: 0;
  transition: .5s ease;
}

.bio a:hover {
  color: var(--accent-one);
}

.bio a:not(:last-child):after {
  content: "/";
  margin: 0px 9px 0px 10px;
  color: white;
}

/*-------------------  DO NOT TOUCH  -------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  color: var(--text-two);
  text-decoration: none;
  transition: 0.5s ease;
}

* a:hover {
  color: var(--accent-one);
}

body {
  background: var(--bg);
}

body>iframe:first-child {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}

#credit {
  position: fixed;
  bottom: 0.7em;
  right: 1em;
  color: red;
}

#credit a {
  font-size: 1.25em;
  text-decoration: none;
  transition: 0.3s ease all;
  color: var(--text-two);
}

b {
  color: var(--accent-two);
  text-transform: uppercase;
  font-size: calc(var(--fontsize-one) - 2px);
}

u {
  text-decoration: none;
  border-bottom: 1px solid var(--accent-two);
}

.muse:hover {
  cursor: crosshair;
}

.muse.selected img {
  opacity: 0.3;
  transition: .5s ease;
  filter: var(--gs);
}

.muse.selected .bottomtext {
  opacity: 0;
  transition: .5s ease;
}

.muse.selected .overlay {
  opacity: 1;
}

.muse.selected .text {
  opacity: 1;
}

.muse.selected .bio {
  opacity: 1;
}

.filter li a.selected {
  color: var(--accent-one);
  text-transform: uppercase;
}

.spoilers_on{
  display:none;
}

#chara_toggle{
  width:95px;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size:0.7em;
  font-style:italic;
}

#chara_toggle_checkbox{ display: none; }

#chara_toggle label{
  position:relative;
  display: block;
  width: 50px;
  height: 15px;
  margin: 0 auto;
  background-color: var(--light-sky);
  border-radius: 56px;
  cursor: pointer;
  transition: 0.3s ease all;
  overflow: hidden;
}

#toggle_star
{
  position: absolute;
  top: 3px;
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: var(--star-color);
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease all;
  z-index: 1;
}

#star-1 { position: relative; }

#star-2
{
  position: absolute;
  transform: rotateZ(36deg);
}

.star
{
  top: 5px;
  left: -4px;
  font-size: 20px;
  font-style:normal;
  line-height: 0;
  color: var(--star-color);
  transition: 0.3s ease color;
}

#toggle_moon
{
  position: absolute;
  bottom: -52px;
  right: 8px;
  width: 15px;
  height: 15px;
  font-style:normal;
  background-color: var(--crescent-color);
  border-radius: 50%;
  transition: 0.3s ease bottom;
}

#toggle_moon:before
{
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 25px;
  height: 25px;
  background-color: var(--light-sky);
  border-radius: 50%;
  transition: 0.3s ease all;
}

#chara_toggle_checkbox:checked + label { background-color: var(--dark-sky); }

#chara_toggle_checkbox:checked + label #toggle_star
{
  top: 0px;
  left: 28px;
  transform: scale(0.3);
  background-color: var(--star-color);
}

#chara_toggle_checkbox:checked + label .star { color: var(--star-dark-color); }

#chara_toggle_checkbox:checked + label #toggle_moon { bottom: 1px; }

#chara_toggle_checkbox:checked + label #toggle_moon:before { background-color: var(--dark-sky); }

@media screen and (max-width: 1000px) {
  #c_cont{
    flex-flow:column wrap;
  }

  #sidebar, #container{
    width:100%;
  }

  #sidebar {
    padding:50px 30px;
    padding-bottom:0;
  }
  
  #chara_toggle_text{
    display:none;
  }
}