:root{
  --background-color:var(--brown-01);
  --text-font: "Karla";
  --text-color: var(--mono-05);
  --text-size: 12px;
  --text-spacing: 1px;
  --first-letter-text-size: 400%;
  
  --bold-size: 0.9em;
  --bold-color: var(--brown-04);

  --special-color: var(--mono-01);  
  --special-bg: var(--brown-03);

  --header-links-font:times;
  --header-links-hover:times;

  --big-heading-font: "Playfair Display";
  --big-heading-text-size: 1.5em;
  --big-heading-border-size: 2px;
  --big-heading-spacing: 5px;
  --big-heading-background-color: var(--brown-03);
  --big-heading-padding: 10px;

  --tabs-nav-link-font: times;
}

body{
  font-size:var(--text-size);
  font-family: var(--text-font);
  letter-spacing: var(--text-spacing);
  color:var(--text-color);
  background-color:var(--background-color);
}

a{
  color: var(--text-color);
  transition: 0.5s ease all;
}

b, strong {
  font-size: var(--bold-size);
  font-family: var(--tabs-nav-link-font);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--bold-color);
  text-shadow: 1px 1px 1px var(--text-color);
}

special {
  margin: 0 2px;
  padding: 1px 5px;
  color: var(--special-color);
  background: var(--special-bg);
  border-radius: 2px;
}

u {
  margin:0 2px;
  text-decoration: none;
  border-bottom: 1.5px solid var(--big-heading-background-color);
}

#lang_header{
  margin:20px;
  word-break: break-word;
}

#lang_nav a{
  padding: 0 10px;
  font-family: var(--tabs-nav-link-font);
  font-style: italic;
  letter-spacing: 1px;
  color:var(--text-color);
}

#lang_nav a:hover{
  color: var(--header-links-hover);
  letter-spacing:2.5px;
}

#page_languages{
  width:100%;
  height:100%;
  overflow-y:auto;
  scroll-behavior: smooth;
}

.big_heading_cont{
  margin-bottom: 20px;
  width: 100%;
  padding: var(--big-heading-spacing);
  font-family:var(--big-heading-font);
  font-size:var(--big-heading-text-size);
  font-weight:1000;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:2px;
  border:var(--big-heading-border-size) solid var(--big-heading-background-color);
}

.big_heading{
  padding:var(--big-heading-padding);
  background-color: var(--big-heading-background-color);
}

#lang_cont{
  width:75vw;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 50px;
}

#lang_tabs_nav{
  width:25%;
}

#lang_tabs_nav_links a{
  display:block;
  font-family: var(--tabs-nav-link-font);
  font-weight: 1000;
}

#lang_tabs_nav_links a:hover{
  letter-spacing: 2px;
}

.lang_tabs_nav_link{
  padding: 10px;
  display:flex;
  flex-flow:row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content:center;
  gap:10px;
}

.lang_tabs_nav_link_dash{
  width:20px;
  height:2px;
  background-color:var(--text-color);
  transition: 0.5s ease all;
}

.lang_tabs_nav_link:hover .lang_tabs_nav_link_dash{
  width:3.5em;
}

#lang_tabs_cont{
  width:70%;
}

#lang_tabs_cont span{
  float:left;
  margin:0;
  width: .75em;
  font-size: var(--first-letter-text-size);
  font-family: var(--tabs-nav-link-font);
}

#lang_tabs_cont a {
  margin: 0 2px;
  padding: 1px 5px;
  color: var(--special-color);
  background: var(--special-bg);
  border-radius: 2px;
}

#page_top{
  display:none;
  position:absolute;
  right:20px;
  bottom:20px;
  background-color:green;
}

@media screen and (max-width: 1000px) {
  #lang_cont{
    flex-flow: row wrap;
  }

  #lang_tabs_nav{
    display:none;
    width:100%;
  }

  #lang_tabs_cont{
    width:100%;
  }
}