:root{
  --wrapper-width: 95vw;
  --wrapper-height: 95vh;

  --mono-01: #ffffff;
  --mono-02: #f6f6f6;
  --mono-03: #cccccc;
  --mono-04: #bbbbbb;
  --mono-05: #000000;
  --brown-01: #F9F6F0;
  --brown-02: #d4cdc9;
  --brown-03: #bfb5ae;
  --brown-04: #e5b8ad;
}

#page_wrapper{
  /*
  max-width:1350px;
  max-height:650px;
  overflow:auto;*/
  position: absolute;
  width: var(--wrapper-width);
  height:var(--wrapper-height);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*{
  box-sizing: border-box;
}

a{
  text-decoration:none;
}

p{
  margin:1em 0;
}