:root{
  --mono-01: #ffffff;
  --mono-02: #f6f6f6;
  --mono-03: #cccccc;
  --mono-04: #bbbbbb;
  --mono-05: #000000;
  --brown-01: #F9F6F0;
  --brown-02: #d4cdc9;
  --brown-03: #bfb5ae;
  --brown-04: #e5b8ad;
}

#page_wrapper{
  /*position: absolute;
  top: 50%;
  left: 50%;
  max-width:1350px;
  max-height:650px;
  transform: translate(-50%, -50%);
  overflow:auto;*/
  width:95vw;
  height:95vh;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration:none;
}